<?xml version="1.0" encoding="utf-8"?>
<!-- @Copyright By Muhammad Habib 2017 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.lookup">

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/lookup_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lookup_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="AIzaSyAV9ZImAGmFwKd2gasny60hgz7SCmgpdyo " /> -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBtEZ-GyhbjODwxQpNSRs6Ie41sIThb3XU" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResultActivity"
            android:parentActivityName=".SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.RESULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FareActivity" />
        <activity android:name=".RouteActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".InteractionActivity" />
        <activity android:name=".LookAroundActivity" />
        <activity android:name=".ViewPlaceActivity" />
        <activity android:name=".AboutActivity" />
    </application>

</manifest>

<!-- @Copyright By Muhammad Habib 2017 -->